# Data Science Tools and Ecosystem

### Welcome in this noteboock, Data Science Tools and Ecosystem are summarized.

**Objectives:** 

+ List popular languages for Data Science.
+ List some common libraries used for Data Science.
+ List on Table popular developmen enviroment open source tools used for Data Science
+ Show some examples of arithmetic expressions in Python

**Some of the popular languages that Data Scientists use are:**

1. Python
2. R
3. SQL
4. Java
5. Scala

#### Some of the commonly used libraries used by Data Scientists include:

**Python**
1. Pandas.
2. Numpy.
3. SciPy.
4. Matplotlib

| DATA SCIENCE TOOLS |
|---------------------|
|GIT|
|ANACONDA|
|VISUAL STUDIO CODE|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
 ### This will convert 200 minutes to hours by diving by 60
 
200/60

3.3333333333333335

## Author
Jose Leonardo Caballero Solano